function: d(name) 
{
    mkdir: $name
}

var: folder = input(What is your project named?, my-app)

d($folder)

cd: $folder

command
- npm init -y
- npm install express
end_command

write_file(.gitignore): /node_modules \n\n package-lock.json

create_file: index.ts

// Creating folders

d(repo)
d(config)
d(controllers)
d(models)
d(services)
d(types)
d(routes)

cd: routes

create_file: router.ts

